table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(0, 62, 128);
}


th, td {
  padding: 20px;
}

th {
  letter-spacing: 2px;
  font-weight: 900;
  background-color: rgb(2, 66, 138);
  border: 3px solid rgb(1, 43, 88);
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
  border: 3px solid rgb(0, 62, 128);
  font-weight: bold;
}

thead {
  background-color: rgb(2, 66, 138);
  color: white;
  text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) {
  background-color: rgb(148, 195, 245);
}

tbody tr:nth-child(even) {
  background-color: rgb(66, 147, 233);
}

table {
  background-color: rgb(2, 66, 138);
}

caption {
  padding-bottom: 20px;
  font-style: italic;
  caption-side: top;
  color: #666;
  text-align: left;
  letter-spacing: 1px;
}

.searchable {
  color: rgb(153, 151, 151);
}